<form [formGroup]="myform" (ngSubmit)="onSubmit(myform.value)">
  <div class="form-group">
    <label for="title">Book title</label>
    <input type="text"
           class="form-control"
           id="title"
           name="title"
           [formControl]="myform.controls['title']"
           [(ngModel)]="book.title"
           [ngClass]="{'is-invalid': !titleValid.valid && titleValid.touched }">
    <div
      class="invalid-feedback"
      *ngIf="titleValid.hasError('minlength')">
      Must be at least 2 characters
    </div>
    <div
      class="invalid-feedback"
      *ngIf="titleValid.hasError('required')">
      This field is required
    </div>
  </div>

  <div class="form-group">
    <label for="description">Book description</label>
    <input type="text"
           class="form-control"
           id="description"
           name="description"
           [formControl]="myform.controls['description']"
           [(ngModel)]="book.description"
           [ngClass]="{'is-invalid': !descValid.valid && descValid.touched}">
    <div
      class="invalid-feedback"
      *ngIf="descValid.hasError('minlength')">
      Must be at least 10 characters
    </div>
    <div
      class="invalid-feedback"
      *ngIf="descValid.hasError('required')">
      This field is required
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="currentPage">Current pages you are reading</label>
      <input
        type="number"
        class="form-control"
        id="currentPage"
        name="currentPage"
        [formControl]="myform.controls['currentPage']"
        [(ngModel)]="book.currentPage"
        [ngClass]="{'is-invalid':  !currPageValid.valid && currPageValid.touched}">
      <div
        class="invalid-feedback"
        *ngIf="currPageValid.hasError('min')">
        Must be equal to or more than zero pages
      </div>
      <div
        class="invalid-feedback"
        *ngIf="currPageValid.hasError('invalidPage')">
        Must be less than total pages
      </div>
      <div
        class="invalid-feedback"
        *ngIf="currPageValid.hasError('required')">
        This field is required
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="totalPage">Total pages of book</label>
      <input type="number"
             class="form-control"
             id="totalPage"
             name="totalPage"
             [formControl]="myform.controls['totalPage']"
             [(ngModel)]="book.totalPage"
             [ngClass]="{'is-invalid': !totalPageValid.valid && totalPageValid.touched}">
      <div
        class="invalid-feedback"
        *ngIf="totalPageValid.hasError('min')">
        Must be more than zero pages
      </div>
      <div
        class="invalid-feedback"
        *ngIf="totalPageValid.hasError('invalidPage')">
        Must be more than current pages
      </div>
      <div
        class="invalid-feedback"
        *ngIf="totalPageValid.hasError('required')">
        This field is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="checkbox" (change)="enabledQuote = !enabledQuote"
             [checked]="enabledQuote">
      <label class="custom-control-label" for="checkbox">Add Quote</label>
    </div>
  </div>
  <div class="form-group" *ngIf="enabledQuote">
    <label for="quoteContent">Quote content</label>
    <input type="text"
           class="form-control"
           id="quoteContent"
           name="quoteContent"
           [formControl]="myform.controls['quoteContent']"
           [(ngModel)]="book.quote.content"
           [ngClass]="{'is-invalid': !quoteContentValid.valid && quoteContentValid.touched}">
    <div
      class="invalid-feedback"
      *ngIf="quoteContentValid.hasError('minlength')">
      Must be at least 10 characters
    </div>
  </div>
  <div class="form-group" *ngIf="enabledQuote">
    <label for="quoteAuthor">Quote author</label>
    <input type="text"
           class="form-control"
           id="quoteAuthor"
           name="quoteAuthor"
           [formControl]="myform.controls['quoteAuthor']"
           [(ngModel)]="book.quote.author"
           [ngClass]="{'is-invalid': !quoteAuthorValid.valid && quoteAuthorValid.touched}">
    <div
      class="invalid-feedback"
      *ngIf="quoteAuthorValid.hasError('minlength')">
      Must be at least 2 characters
    </div>
  </div>
  <button
    *ngIf="!isEdit"
    [disabled]="!myform.valid"
    class="btn btn-primary btn-block mb-3">Add Book
  </button>
  <button
    *ngIf="isEdit"
    [disabled]="!myform.valid"
    class="btn btn-warning btn-block mb-3">Edit Book
  </button>
</form>
